*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content{
  width: 1270px;
  height: 370px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  padding-bottom: 50px;

}

.flag_1{
  width: 300px;
  height: 150px;
  display: flex;
  background: #f8f1f1;
  border: 1px solid #000000;
  overflow: hidden;
}
.div_1{
  width: 80px;
  height: 150px;
  background: #ff0505;
}
.div_2{
  width: 220px;
  height: 150px;
  background: #7b6767;
}
.div_3{
  width: 220px;
  height: 50px;
  background: #2dc100;
}
.div_4{
  width: 220px;
  height: 50px;
  background: #efefef;
}
.div_5{
  width: 220px;
  height: 50px;
  background: #000000;
}


.flag_2{
  width: 300px;
  height: 150px;
  background: #f8f1f1;
  border: 1px solid #000000;
  overflow: hidden;
}
.arg_1{
  width: 300px;
  height: 50px;
  background: #008ab1;
  
}
.arg_2{
  width: 300px;
  height: 50px;
  background: #fcfcfc;
}
.arg_3{
  width: 300px;
  height: 50px;
  background: #008ab1;
}


.flag_3{
  width: 300px;
  height: 150px;
  background: #f8f1f1;
  border: 1px solid #000000;
  overflow: hidden;
}
.aus_1{
  width: 300px;
  height: 50px;
  background: #ce3502;
}
.aus_2{
  width: 300px;
  height: 50px;
  background: #fcfcfc;
}
.aus_3{
  width: 300px;
  height: 50px;
  background: #ce3502;
}


.flag_4{
  width: 300px;
  height: 150px;
  display: flex;
  background: #f8f1f1;
  border: 1px solid #000000;
  overflow: hidden;
}
.bulg_1{
  width: 100px;
  height: 150px;
  background: #000000;
}
.bulg_2{
  width: 100px;
  height: 150px;
  background: #fff700;
}
.bulg_3{
  width: 100px;
  height: 150px;
  background: #cc3300;
}


.flag_5{
  width: 300px;
  height: 150px;
  display: flex;
  background: #f8f1f1;
  border: 1px solid #000000;
  overflow: hidden;
}
.bor_1{
  width: 300px;
  height: 150px;
  background: #3dc100;
}
.bor_2{
  width: 200px;
  height: 150px;
  background: #fff700;
}
.bor_3{
  width: 200px;
  height: 75px;
  background: #e8ff1c;
}
.bor_4{
  width: 200px;
  height: 75px;
  background: #cc3300;
}

.flag_6{
  width: 300px;
  height: 150px;
  background: #f8f1f1;
  border: 0.5px solid #000000;
  overflow: hidden;
}
.bulgar_1{
  width: 300px;
  height: 50px;
  background: #ffffff;
}
.bulgar_2{
  width: 300px;
  height: 50px;
  background: #6fd100;
}
.bulgar_3{
  width: 300px;
  height: 50px;
  background: #ce3502;
}

.flag_7{
  width: 300px;
  height: 150px;
  background: #f8f1f1;
  border: 1px solid #000000;
  overflow: hidden;
}
.fri_1{
  width: 300px;
  height: 30px;
  background: #f8f1f1;
  display: flex;
}
.vag_1{
  width: 30%;
  height: 30px;
  background-color: #ffffff;
}
.vag_2{
  width: 10%;
  height: 30px;
  background-color: #0e007c;
}
.vag_3{
  width: 60%;
  height: 30px;
  background-color: #ffffff;
}
.fri_2{
  width: 300px;
  height: 30px;
  background: #f8f1f1;
  display: flex;
}
.fri_3{
  width: 300px;
  height: 30px;
  background: #0e007c;
}
.fri_4{
  width: 300px;
  height: 30px;
  background: #f8f1f1;
  display: flex;
}
.fri_5{
  width: 300px;
  height: 30px;
  background: #f8f1f1;
  display: flex;
}


.flag_8{
  width: 300px;
  height: 150px;
  background: #f8f1f1;
  border: 1px solid #000000;
  overflow: hidden;
}
.gra_1{
  width: 300px;
  height: 16.66px;
  background: #008cff;
  display: flex;
}
.gra_10{
  width: 11%;
  height: 16.66px;
  background: #008cff;
}
.gra_11{
  width: 8%;
  height: 16.66px;
  background: #f8f1f1;
}
.gra_12{
  width: 11%;
  height: 16.66px;
  background: #008cff;
}
.gra_13{
  width: 70%;
  height: 16.66px;
}
.gra_2{
  width: 300px;
  height: 16.66px;
  background: #f8f1f1;
  display: flex;
}
.gra_3{
  width: 300px;
  height: 16.66px;
  background: #008cff;
  display: flex;
}
.gra_14{
  width: 30%;
  height: 16.66px;
  background: #f8f1f1;
}
.gra_15{
  width: 70%;
  height: 16.66px;
  background: #008cff;
}
.gra_4{
  width: 300px;
  height: 16.66px;
  background: #f8f1f1;
  display: flex;
}
.gra_5{
  width: 300px;
  height: 16.66px;
  background: #008cff;
  display: flex;
}
.gra_6{
  width: 300px;
  height: 16.66px;
  background: #f8f1f1;
}
.gra_7{
  width: 300px;
  height: 16.66px;
  background: #008cff;
}
.gra_8{
  width: 300px;
  height: 16.66px;
  background: #f8f1f1;
}
.gra_9{
  width: 300px;
  height: 16.66px;
  background: #008cff;
}