.main{
    width: 800px;
    height: 500px;
    background-color: black;
}
.t1{
    width: 800px;
    height: 100px;
    background-color: red;
}
.t2{
    width: 800px;
    height: 100px;
    background-color: rgb(255, 183, 0);
}
.t3{
    width: 800px;
    height: 100px;
    background-color: rgb(0, 26, 255);
    display: flex;
}
.t3_1{
    width: 100px;
    height: 100px;
    background-color: rgb(55, 255, 0);
}
.t3_2{
    width: 100px;
    height: 100px;
    background-color: rgb(5, 94, 7);
}
.t3_3{
    width: 100px;
    height: 100px;
    background-color: rgb(194, 194, 194);
}
.t3_4{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 89, 0);
}
.t3_5{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
}
.t3_6{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 238);
}
.t3_7{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
}
.t3_8{
    width: 100px;
    height: 100px;
    background-color: rgb(47, 0, 255);
}
.t4{
    width: 800px;
    height: 100px;
    background-color: rgb(129, 115, 254);
}
.t5{
    width: 800px;
    height: 100px;
    background-color: rgb(255, 0, 144);
    display: flex;
}
.t5_1{
    width: 200px;
    height: 100px;
    background-color: rgb(211, 203, 208);
    display: flex;
}
.t_5_1_1{
    width: 100px;
    height: 100px;
    background-color: rgb(7, 244, 38);
}
.n1{
    width: 100px;
    height: 33px;
    background-color: rgb(244, 7, 7);
}
.n2{
    width: 100px;
    height: 33px;
    background-color: rgb(7, 19, 244);
}
.n3{
    width: 100px;
    height: 33px;
    background-color: rgb(248, 176, 176);
}
.t_5_1_2{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 246);
    display: flex;
}
.n4{
    width: 50px;
    height: 100px;
    background-color: rgb(0, 246, 29);
}
.n4_1{
    width: 50px;
    height: 33px;
    background-color: rgb(230, 245, 232);
}
.s1{
    width: 50px;
    height: 16.5px;
    background-color: rgb(22, 241, 2);
}
.s2{
    width: 50px;
    height: 16.5px;
    background-color: rgb(30, 0, 255);
}
.n4_2{
    width: 50px;
    height: 33px;
    background-color: rgb(254, 178, 0);
}
.s3{
    width: 50px;
    height: 16.5px;
    background-color: rgb(255, 255, 255);
}
.s4{
    width: 50px;
    height: 16.5px;
    background-color: rgb(3, 2, 0);
}
.n4_3{
    width: 50px;
    height: 33px;
    background-color: rgb(170, 0, 255);
}
.n5{
    width: 50px;
    height: 100px;
    background-color: rgb(246, 33, 0);
}
.n5_1{
    width: 50px;
    height: 33px;
    background-color: rgb(237, 225, 223);
}
.s5{
    width: 50px;
    height: 16.5px;
    background-color: rgb(30, 0, 255);
}
.s6{
    width: 50px;
    height: 16.5px;
    background-color: rgb(22, 241, 2);
}
.n5_2{
    width: 50px;
    height: 33px;
    background-color: rgb(242, 46, 11);
}
.s7{
    width: 50px;
    height: 16.5px;
    background-color: rgb(0, 0, 0);
}
.s8{
    width: 50px;
    height: 16.5px;
    background-color: rgb(255, 255, 255);
}
.n5_3{
    width: 50px;
    height: 33px;
    background-color: rgb(25, 230, 15);
}
.e1{
    width: 50px;
    height: 16.5px;
    background-color: rgb(255, 0, 0);
    display: flex;
}
.w1{
    width: 25px;
    height: 16.5px;
    background-color: rgb(255, 0, 0);
}
.w2{
    width: 25px;
    height: 16.5px;
    background-color: rgb(20, 0, 148);
}
.e2{
    width: 50px;
    height: 16.5px;
    background-color: rgb(28, 0, 131);
    display: flex;
}
.w3{
    width: 25px;
    height: 16.5px;
    background-color: rgb(0, 0, 173);
}
.w4{
    width: 25px;
    height: 16.5px;
    background-color: rgb(241, 0, 0);
}
.t5_2{
    width: 200px;
    height: 100px;
    background-color: rgb(180, 17, 109);
}
.t5_3{
    width: 200px;
    height: 100px;
    background-color: rgb(2, 238, 85);
}
.t5_4{
    width: 200px;
    height: 100px;
    background-color: rgb(242, 205, 226);
}
.t5_4_1{
    width: 200px;
    height: 50px;
    background-color: rgb(242, 205, 226);
}
.t5_4_2{
    width: 200px;
    height: 50px;
    background-color: rgb(181, 45, 122);
    display: flex;
}
.t5_4_2_1{
    width: 100px;
    height: 50px;
    background-color: rgb(238, 231, 235);
}
.t5_4_2_2{
    width: 100px;
    height: 50px;
    background-color: rgb(19, 9, 15);
}