@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Imperial+Script&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1260px;
    padding: 0 40px;
    margin: 0 auto;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #fbf2e6;
}
  /* 
    font-family: "Imperial Script", cursive;
    font-family: "Poppins", sans-serif;
   */

   /*--================>>>>>>>>>>>>>>>{Nvbar Part start}>>>>>>>>>>>>>==================--*/

#navbar{
    padding: 20px 0;
    background-color: #ffffff;
}
#navbar .nav_contant{
    display: flex;
    justify-content: space-between;
}
#navbar .nav_contant .logo h1 a{
    text-decoration: none;
    font-family: "Imperial Script", cursive;
    color: #000000;
    font-size: 32px;
    font-weight: 400;
}
#navbar .nav_contant .menu ul{
    display: flex;
    column-gap: 35px;
    padding-top: 10px;
}
#navbar .nav_contant .menu ul li{
    list-style: none;
}
#navbar .nav_contant .menu ul li a{
    text-decoration: none;
    color: #000000;
    font-family: "Poppins", sans-serif;
}
#navbar .nav_contant .menu ul li a:hover{
    text-shadow: 0 0 10px #000000;
}
#navbar .nav_contant .btn button{
    padding: 10px 30px;
    background-color: #FCC028;
    border-radius: 5px;
}
#navbar .nav_contant .btn button:hover{
    background-color: #fbb709;
}
#navbar .nav_contant .btn button a{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: #000000;
}

   /*--================>>>>>>>>>>>>>>>{Nvbar Part end}>>>>>>>>>>>>>==================--*/

   /*--================>>>>>>>>>>>>>>>{Banner Part start}>>>>>>>>>>>>>==================--*/

    #banner{
        background-color: #ffffff;
        padding: 60px 0 10px 0;
    }
    #banner .banner_content{
        display: flex;
        justify-content: space-between;
    }
    #banner .banner_content .text{
        width: 51%;
        margin-top: 100px;
        font-family: "Poppins", sans-serif;
    }
    #banner .banner_content .text span{
        font-size: 18px;
        font-weight: 400;
        color: #FCC028;
    }
    #banner .banner_content .text h1{
        font-size: 72px;
        font-weight: 600;
    }
    #banner .banner_content .text h3{
        font-size: 24px;
        font-weight: 400;
        color: #207733;
    }
    #banner .banner_content .text p{
        font-size: 18px;
        padding: 7px 0 36px 0;
        font-weight: 400;
        color: #0000008e;
    }
    .btn{
        display: flex;
        column-gap: 22px;
        align-items: center;
    }
    .btn .part1 button{
        padding: 10px 49px;
        background-color: #FCC028;
        border: 0px;
        border-radius: 5px;
    }
    .btn .part1 button:hover{
        background-color: #fbb709;
    }
    .btn .part1 button a{
        text-decoration: none;
        color: #ffffff;
        font-size: 15px;
        font-weight: 500;
    }
    .btn .part2 a{
        text-decoration: none;
        color: #000000;
        font-size: 15px;
        font-weight: 600;
    }
    #banner .banner_content .text .text_image{
       margin-left: -35px;
    }
    .btn .part2 a:hover{
        text-shadow: 0 0 10px #000000;
    }

    #banner .banner_content .image{
        width: 49%;
    }

   /*--================>>>>>>>>>>>>>>>{Banner Part end}>>>>>>>>>>>>>==================--*/

   /*--================>>>>>>>>>>>>>>>{About Part start}>>>>>>>>>>>>>==================--*/

    #about{
        padding: 40px 0;
    }
    #about .contant{
        display: flex;
        justify-content: space-between;
    }
    #about .contant .image{
        width: 50%;
        text-align: center;
    }
    #about .contant .text{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "Poppins", sans-serif;
    }
    #about .contant .text h3{
        font-size: 20px;
        font-weight: 500;
        color: #FCC028;
    }
    #about .contant .text h2{
        font-size: 40px;
        font-weight: 400;
    }
    #about .contant .text .p{
        font-size: 17px;
        font-weight: 400;
        padding: 10px 0 30px 0;
        color: #0000008e;
    }
    #about .contant .text .icon_top{
        display: flex;
        column-gap: 40px;
    }
    #about .contant .text .icon_top .icon_1{
        display: flex;
        column-gap: 16px;
    }
    #about .contant .text .icon_top .icon_1 .text1{
        padding-top: 10px;
    }
    #about .contant .text .icon_top .icon_1 .text1 span{
        color: #FCC028;
        font-size: 15px;
        font-weight: 400;
    }
    #about .contant .text .icon_bottom{
        padding: 30px 0;
    }
    #about .contant .text .icon_bottom .icon_1{
        display: flex;
        column-gap: 16px;
    }
    #about .contant .text .icon_bottom .icon_1 .text1{
        padding-top: 10px;
    }
    #about .contant .text .icon_bottom .icon_1 .text1 span{
        color: #FCC028;
        font-size: 15px;
        font-weight: 400;
    }

   /*--================>>>>>>>>>>>>>>>{About Part end}>>>>>>>>>>>>>==================--*/

   /*--================>>>>>>>>>>>>>>>{Services Part start}>>>>>>>>>>>>>==================--*/

    #services{
        padding: 30px 0 100px 0;
    }
    #services .contant{
        font-family: "Poppins", sans-serif;
    }
    .top{
        text-align: center;
    }
    .top p{
        font-size: 16px;
        font-weight: 500;
        color: #FCC028;
    }
    .top h1{
        font-size: 32px;
        font-weight: 500;
    }
    .maddil{
        text-align: end;
        padding: 4px 0 9px 0;
    }
    .maddil a{
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        color: #FCC028;
    }
    .maddil a:hover{
        text-shadow: 0 0 10px #fbb709;
    }
    #services .contant .bottom{
        display: flex;
        justify-content: space-between;
    }
    #services .contant .bottom .card{
        width: 32%;
    }
    #services .contant .bottom .card .text{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #services .contant .bottom .card .text h3{
        padding: 10px 0;
        font-size: 20px;
        font-weight: 500;
    }
    #services .contant .bottom .card .text p{
        width: 85%;
        font-size: 15px;
        font-weight: 400;
        color: #0000008e;
        
    }

   /*--================>>>>>>>>>>>>>>>{Services Part end}>>>>>>>>>>>>>==================--*/

   /*--================>>>>>>>>>>>>>>>{Case Part start}>>>>>>>>>>>>>==================--*/

    #casestudo{
        padding: 30px 0 100px 0;
    }
    #casestudo .contant{
        font-family: "Poppins", sans-serif;
    }
    #casestudo .contant .bottom{
        padding-top: 82px;
    }
    #casestudo .contant .bottom .item{
        display: flex;
        justify-content: space-between;
        padding-bottom: 27px;
    }
    #casestudo .contant .bottom .item .image{
        width: 55%;
    }
    #casestudo .contant .bottom .item .text{
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #casestudo .contant .bottom .item .text h2{
        font-size: 32px;
        font-weight: 500;
        color: #FCC028;
    }
    #casestudo .contant .bottom .item .text h3{
        padding: 13px 0;
        font-size: 24px;
        font-weight: 500;
    }
    #casestudo .contant .bottom .item .text p{
        width: 95%;
        font-size: 18px;
        font-weight: 500;
        color: #0000008e;
    }
    #casestudo .contant .bottom .item .text .btn000{
        padding-top: 30px;
    }
    #casestudo .contant .bottom .item .text .btn000 button{
        border: 1px solid #FCC028;
        border-radius: 5px;
    }
    #casestudo .contant .bottom .item .text .btn000 button a{
        padding: 13px 52px;
        text-decoration: none;
        color: #FCC028;
        display: inline-block;
        transition: transform 0.5s ease;
    }
    #casestudo .contant .bottom .item .text .btn000 button a:hover{
        transform: scale(1.2);
    }

   /*--================>>>>>>>>>>>>>>>{Case Part end}>>>>>>>>>>>>>==================--*/

   /*--================>>>>>>>>>>>>>>>{Portfolio Part start}>>>>>>>>>>>>>==================--*/

    #portfolio{
        padding: 30px 0 100px 0;
    }
    #portfolio .contant{
        font-family: "Poppins", sans-serif;
    }
    #portfolio .contant .bottom .item{
        display: flex;
        justify-content: space-around;
        padding-bottom: 20px;
    }

   /*--================>>>>>>>>>>>>>>>{Portfolio Part end}>>>>>>>>>>>>>==================--*/

   /*--================>>>>>>>>>>>>>>>{Testimonial Part start}>>>>>>>>>>>>>==================--*/

    #testimonial{
        width: 100%;
        height: 500px;
    }
    #testimonial .container{
        font-family: "Poppins", sans-serif;
        position: relative;
    }
    #testimonial .container .bottom .item2{
        padding: 5px 5px;
        background-color: #FCC028;
        border-radius: 5px;
        display: inline;
        position: absolute;
        top: 332px;
        left: 370px;
        z-index: 2;
    }
    #testimonial .container .bottom .item2 a{
        color: #ffffff;
        font-size: 35px;
    }
    #testimonial .container .bottom .item3{
        width: 700px;
        height: 200px;
        background-color: #ffffff;
        border-radius: 5px;
        position: absolute;
        top: 207px;
        left: 436px;
    }
    #testimonial .container .bottom .item3 .text1{
        font-size: 40px;
    }
    #testimonial .container .bottom .item3 .text2{
        text-align: center;
        padding-top: 15px;
        position: relative;
    }
    #testimonial .container .bottom .item3 .text2::after{
        width: 100px;
        height: 100px;
        position: absolute;
        top: -117px;
        left: 599px;
        content: url(../img/testimonial1.png);
        z-index: -1;
    }
    #testimonial .container .bottom .item3 .text2::before{
        width: 100px;
        height: 100px;
        position: absolute;
        top: -111px;
        left: 298px;
        content: url(../img/testimonial2.png);
    }
    #testimonial .container .bottom .item3 .text2 p{
        color: #0000008e;
    }
    #testimonial .container .bottom .item3 .text3{
        display: flex;
        padding-top: 30px;
        position: relative;
    }
    #testimonial .container .bottom .item3 .text3::after{
        width: 580px;
        height: 200px;
        background-color: #FFF1FF;
        border-radius: 5px;
        position: absolute;
        top:-183px;
        left: -444px;
        content: "";
        z-index: -1;
    }
    #testimonial .container .bottom .item3 .text3 .ari0{
        width: 233px;
    }
    #testimonial .container .bottom .item3 .text3 .ari1{
        width: 233px;
        text-align: center;
    }
    #testimonial .container .bottom .item3 .text3 .ari1 h3{
        font-size: 16px;
    }
    #testimonial .container .bottom .item3 .text3 .ari1 p{
        font-size: 13px;
        font-weight: 400;
        color: #0000008e;
    }
    #testimonial .container .bottom .item3 .text3 .ari2{
        width: 233px;
        font-size: 40px;
        text-align: end;
    }

   /*--================>>>>>>>>>>>>>>>{Testimonial Part end}>>>>>>>>>>>>>==================--*/

   /*--================>>>>>>>>>>>>>>>{Clients Part start}>>>>>>>>>>>>>==================--*/

    #client_part{
        padding: 30px 0 100px 0;
    }
    #client_part .contant{
        font-family: "Poppins", sans-serif;
    }
    #client_part .contant .bottom{
        padding-top: 60px;
    }
    #client_part .contant .bottom .image{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 100px;
    }

   /*--================>>>>>>>>>>>>>>>{Clients Part end}>>>>>>>>>>>>>==================--*/

   /*--================>>>>>>>>>>>>>>>{Contact Part start}>>>>>>>>>>>>>==================--*/

    #contact{
        padding: 30px 0 100px 0;
        background-color: #ecb32e1a;
    }
    #contact .contant{
        display: flex;
        font-family: "Poppins", sans-serif;
    }
    #contact .contant .contact_part{
        width: 50%;
        padding-top: 70px;
    }
    #contact .contant .contact_part h2{
        padding-left: 40px;
        font-size: 32px;
        font-weight: 500;
    }
    #contact .contant .contact_part p{
        width: 95%;
        padding: 20px 0 50px 40px;
        font-size: 16px;
        font-weight: 400;
        color: #0000008e;
    }
    #contact .contant .contact_part .icon{
        display: flex;
    }
    #contact .contant .contact_part .icon222 span{
        margin-top: 15px;
    }
    #contact .contant .contact_part .icon h3{
        font-size: 25px;
        font-weight: 400;
        color: #0000008e;
    }
    #contact .contant .contact_part .icon span{
        padding: 5px 20px 0 0;
    }
    #contact .contant .form_part{
        width: 50%;
        position: relative;
    }
    #contact .contant .form_part::after{
        width: 5px;
        height: 5px;
        position: absolute;
        top: 7px;
        left: 134px;
        content: url(../img/form_star.svg);
    }
    #contact .contant .form_part::before{
        width: 5px;
        height: 5px;
        position: absolute;
        top: 74px;
        left: 131px;
        content: url(../img/form_star.svg);
    }
    #contact .contant .form_part .star{
        position: relative;
    }
    #contact .contant .form_part .star::before{
        width: 5px;
        height: 5px;
        position: absolute;
        top: 146px;
        left: 144px;
        content: url(../img/form_star.svg);
    }
    #contact .contant .form_part .form00{
        text-align: center;
    }
    #contact .contant .form_part input{
        width: 70%;
        height: 50px;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #00000076;
        border-radius: 10px;
    }
    #contact .contant .form_part .Massage{
        padding-bottom: 200px;
    }
    #contact .contant .btn{
        padding: 15px 0 0 87px;
    }
    #contact .contant .btn button{
    padding: 10px 30px;
    background-color: #FCC028;
    border: 0px;
    border-radius: 5px;
    }
    #contact .contant .btn button:hover{
        background-color: #fbb709;
    }
    #contact .contant .btn button a{
        font-family: "Poppins", sans-serif;
        text-decoration: none;
        color: #000000;
    }

   /*--================>>>>>>>>>>>>>>>{Contact Part end}>>>>>>>>>>>>>==================--*/

   /*--================>>>>>>>>>>>>>>>{footer Part start}>>>>>>>>>>>>>==================--*/

    #footer{
        background-color: #ecb32e1a;
    }
    #footer .contant{
        padding: 90px 100px;
        display: flex;
    }
    #footer .contant .part1{
        width: 35%;
    }
    #footer .contant .part1 a{
        text-decoration: none;
    }
    #footer .contant .part1 h1{
        font-family: "Imperial Script", cursive;
        font-size: 40px;
        font-weight: 400;
        color: #FCC028;
    }
    #footer .contant .part1 p{
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #00000076;
    }
    #footer .contant .part2{
        width: 65%;
        font-family: "Poppins", sans-serif;
        display: flex;
        justify-content: space-around;
    }
    #footer .contant .part2 .text h3{
        font-size: 20px;
        font-weight: 500;
    }
    #footer .contant .part2 .text p{
        font-size: 18px;
        font-weight: 400;
        color: #00000076;
        padding-top: 15px;
        cursor: pointer;
    }
    #footer .contant .part2 .text p:hover{
        color: #cb9200;
    }
    #footer .footer_color{
        height: 40px;
        background-color: #FCC028;
    }

   /*--================>>>>>>>>>>>>>>>{footer Part end}>>>>>>>>>>>>>==================--*/
