* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.heading {
  text-align: center;
  padding-bottom: 12px;
  border-bottom: 2px solid black; /* ২ পিক্সেল মোটা কালো রঙের ডট লাইন */
}
.del {
  font-size: 1.5rem;
}
.about {
  margin-top: 15px;
}
.resources {
  margin-top: 15px;
}
.desk {
  margin-top: 15px;
}
img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.video {
  margin-top: 15px;
}
.location iframe {
  width: clamp(300px, 70vw, 450px);
  height: 200px;
}

.formating {
  margin-top: 15px;
}
ol {
  padding-left: 20px;
}
.list {
  margin-top: 15px;
}
.form {
  margin-top: 15px;
}
.project-meta {
  margin: 16px 0 0;
  color: #515862;
  font-size: 0.62rem;
  text-align: center;
}
