@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1260px;
    padding: 0 50px;
    margin: 0 auto;
}
  /* 
    font-family: "Dancing Script", cursive;
    font-family: "Open Sans", sans-serif; 
   */

   /*--================>>>>>>>>>>>>>>>{Nvbar & Banner Part start}>>>>>>>>>>>>>==================--*/
#navbar{
    width: 100%;
    background-image: url(../img/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
#navbar .nav_contant{
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar .nav_contant .logo{
    width: 25%;
}
#navbar .nav_contant .logo h1{
    color: #ffffff;
    font-family: "Dancing Script", cursive;
}
#navbar .nav_contant .menu{
    width: 50%;
    font-family: "Open Sans", sans-serif; 
}
#navbar .nav_contant .menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 45px;
}
#navbar .nav_contant .menu ul li{
    list-style: none;
    align-self: center;
}
#navbar .nav_contant .menu ul .active1 a{
    color: #eddc70;
}
#navbar .nav_contant .menu ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}
#navbar .nav_contant .menu ul li a:hover{
    color: #eddc70;
}
#navbar .nav_contant .order{
    width: 25%;
    display: flex;
    justify-content: flex-end;
}
#navbar .nav_contant .order .cart{
    padding: 15px 18px 0 0;
}
#navbar .nav_contant .order .cart i{
    color: #ffffff;
    padding: 0 15px;
}
#navbar .nav_contant .order .cart i:hover{
    color: #eddc70;
}
.btn button{
    font-family: "Open Sans", sans-serif; 
    padding: 8px 30px;
    border: 0px;
    border-radius: 50px;
    font-size: 18px;
    background-color: #decd60;
}
.btn button:hover{
    background-color: #bdac0c;
}
.btn button a{
    text-decoration: none;
    color: #ffffff;
}
#navbar .banner{
    padding: 50px 0;
}
#navbar .banner p{
    width: 588px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif; 
    padding: 20px 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5rem;
}
#navbar .banner h1{
    font-family: "Dancing Script", cursive;
    color: #ffffff;
    font-size: 60px;
}
#navbar .banner .circle{
    display: flex;
    padding-top: 150px;
    align-items: center;
}
#navbar .banner .circle .item{
    width: 18px;
    height: 18px;
    background-color: #bdac0c;
    border-radius: 50%;
}
#navbar .banner .circle .item1{
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-left: 8px;
}
#navbar .banner .circle .item1 a{
    color: #ffffff;
    text-decoration: none;
    padding: 3px;
}
 /*--================>>>>>>>>>>>>>>>{Nvbar & Banner Part end}>>>>>>>>>>>>>==================--*/

 /*--================>>>>>>>>>>>>>>>{Order Part end}>>>>>>>>>>>>>==================--*/

#order1{
    width: 100%;
    padding: 100px 0;
}
#order1 .order1_contant{
    display: flex;
    justify-content: space-between;
}
#order1 .order1_contant .card1{
    width: 49%;
    display: flex;
    background-color: #020227e8;
    padding: 20px;
    border-radius: 6px;
}
#order1 .order1_contant .card1 .image{
    width: 182px;
    height: 182px;
    border-radius: 50%;
    border: 6px solid #bdac0c;
}
#order1 .order1_contant .card1 .image img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
}
#order1 .order1_contant .card1 .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#order1 .order1_contant .card1 .text h2{
    color: #ffffff;
    font-family: "Dancing Script", cursive;
}
#order1 .order1_contant .card1 .text h1{
    color: #ffffff;
    font-family: "Dancing Script", cursive;
    padding: 10px 0 10px 20px;
    align-self: flex-start;
    font-size: 42px;
}
#order1 .order1_contant .card1 .text span{
    font-size: 18px;
}
#order1 .order1_contant .card1 .text .btn{
    padding-left: 15px;
}
#order1 .order1_contant .card1 .text .btn i{
    padding-left: 10px;
}

 /*--================>>>>>>>>>>>>>>>{Order Part end}>>>>>>>>>>>>>==================--*/

 /*--================>>>>>>>>>>>>>>>{Menu Part start}>>>>>>>>>>>>>==================--*/

#menu_part{
width: 100%;
padding-bottom: 100px;
}
#menu_part .menu_content .top{
    text-align: center;
    font-family: "Dancing Script", cursive;
}
#menu_part .menu_content .top h1{
    font-size: 40px;
}
#menu_part .menu_content .meddle{
    padding: 35px 0;
}
#menu_part .menu_content .meddle ul{
    display: flex;
    justify-content: center;
}
#menu_part .menu_content .meddle ul .active2{
    padding: 8px 15px;
}
#menu_part .menu_content .meddle ul .active2 a{
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 50px;
    background-color: #000000;
}
#menu_part .menu_content .meddle ul li{
    width: 100px;
    padding: 8px 15px;
    list-style: none;
    text-align: center;
}
#menu_part .menu_content .meddle ul li a{
    text-decoration: none;
    color: #000000;
    font-family: "Open Sans", sans-serif; 
}
#menu_part .menu_content .meddle ul li a:hover{
    background-color: #000000;
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 50px;
}
#menu_part .menu_content .bottom{
    padding-top: 12px;
    
}
#menu_part .menu_content .bottom .card{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
#menu_part .menu_content .bottom .card .card_contant{
    width: 31%;
    height: 430px;
    background-color: #020227e8;
    border-radius: 15px;
}
#menu_part .menu_content .bottom .card .card_contant .image{
    width: 100%;
    height: 215px;
    background-color: #f4f3f3;
    border-radius: 12px 12px 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu_part .menu_content .bottom .card .card_contant .image img{
    width: 150px;
}
#menu_part .menu_content .bottom .card .card_contant .text{
    color: #ffffff;
    padding: 22px;
    font-family: "Open Sans", sans-serif;
}
#menu_part .menu_content .bottom .card .card_contant .text h2{
    font-weight: 500;
}
#menu_part .menu_content .bottom .card .card_contant .text p{
    padding: 9px 0;
}
#menu_part .menu_content .bottom .card .card_contant .text .bottom{
    display: flex;
    justify-content: space-between;
}
#menu_part .menu_content .bottom .card .card_contant .text .bottom h2{
    font-size: 18px;
    font-weight: 400;
    padding-top: 12px;
}
#menu_part .menu_content .bottom .card .card_contant .text .bottom .icon{
    padding: 10px 11px;
    background-color: #bdac0c;
    border-radius: 50%;
}
#menu_part .menu_content .bottom .card .card_contant .text .bottom .icon:hover{
    background-color: #decd60;
}
#menu_part .menu_content .bottom .btn{
    padding-top: 30px;
    text-align: center;
}
 /*--================>>>>>>>>>>>>>>>{Menu Part end}>>>>>>>>>>>>>==================--*/
 /*--================>>>>>>>>>>>>>>>{About Part start}>>>>>>>>>>>>>==================--*/

#about{
    background-color: #020227e8;
    padding: 100px 0;
    margin-bottom: 100px;
}
#about .about_contant{
    display: flex;
}
#about .about_contant .image{
    width: 50%;
}
#about .about_contant .image img{
    width: 80%;
}
#about .about_contant .text{
    width: 50%;
    color: #f4f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#about .about_contant .text h1{
    font-family: "Dancing Script", cursive;
    font-size: 40px;
}
#about .about_contant .text p{
    font-family: "Open Sans", sans-serif;
    padding: 20px 0; 
    font-size: 16px;
    line-height: 25px;
}

 /*--================>>>>>>>>>>>>>>>{About Part end}>>>>>>>>>>>>>==================--*/

 /*--================>>>>>>>>>>>>>>>{Book Part start}>>>>>>>>>>>>>==================--*/

#book{
    padding-bottom: 100px;
}
#book .book_content{
    display: flex;
    justify-content: space-between;
}
#book .book_content .form_part{
    width: 50%;
}
#book .book_content .form_part form input{
    width: 550px;
    height: 45px;
    font-size: 18px;
    padding: 15px;
    margin-bottom: 25px;
}
#book .book_content .form_part .btn{
    padding-top: 20px;
}
#book .book_content .map iframe{
    height: 324px;
    border-radius: 10px;
    margin-left: 35px;
}

 /*--================>>>>>>>>>>>>>>>{Book Part end}>>>>>>>>>>>>>==================--*/

 /*--================>>>>>>>>>>>>>>>{Customer Part start}>>>>>>>>>>>>>==================--*/

#customer{
    margin-bottom: 100px;
}
#customer .customer_contant .top{
    text-align: center;
    font-family: "Dancing Script", cursive;
}
#customer .customer_contant .top h1{
    font-size: 40px;
}
#customer .customer_contant .slider{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}
#customer .customer_contant .slider .num1{
    width: 48%;
    font-family: "Open Sans", sans-serif;
    position: relative;
}
#customer .customer_contant .slider .num1 .text{
    color: #ffffff;
    background-color: #020227e8;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 30px;
}
#customer .customer_contant .slider .num1 .text p{
    padding-bottom: 20px;
}
#customer .customer_contant .slider .num1 .image{
    width: 128px;
    height: 128px;
    border: 4px solid #bdac0c;
    border-radius: 50%;
    z-index: 2;
}
#customer .customer_contant .slider .num1 .image::after{
    width: 70px;
    height: 70px;
    background-color: #bdac0c;
    position: absolute;
    top: 64%;
    left: 5%;
    content: " ";
    transform: rotate(45deg);
    z-index: -1;
}
#customer .customer_contant .slider .num1 .image img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    z-index: 2;
}
#customer .customer_contant .icon{
    display: flex;
    justify-content: center;
}
#customer .customer_contant .icon .angle{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bdac0c;
    border-radius: 50%;
    margin-left: 20px;
}
#customer .customer_contant .icon .angle:hover{
    background-color: #decd60;
}
#customer .customer_contant .icon i{
    color: #ffffff;
    
}

 /*--================>>>>>>>>>>>>>>>{Customer Part end}>>>>>>>>>>>>>==================--*/

 /*--================>>>>>>>>>>>>>>>{Footer Part start}>>>>>>>>>>>>>==================--*/

#footer{
    background-color: #020227e8;
    padding: 70px 0 30px 0;
}
#footer .footer_contant{
    display: flex;
}
#footer .footer_contant .contact{
    width: 30%;
    text-align: center;
    color: #ffffff;
}
#footer .footer_contant .contact .top h1{
    font-family: "Dancing Script", cursive;
    font-weight: 400;
    padding-bottom: 28px;   
}
#footer .footer_contant .contact .text h3{
    padding-bottom: 15px;
}
#footer .footer_contant .contact .text h3 a{
    font-family: "Open Sans", sans-serif; 
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}
#footer .footer_contant .contact .text h3 a:hover{
    color: #bdac0c;
}
#footer .footer_contant .contact .text h3 a i{
    font-size: 18px;
    padding-right: 30px;
}
#footer .footer_contant .feane{
    width: 40%;
    text-align: center;
}
#footer .footer_contant .feane .top h1{
    margin-bottom: 28px;
}
#footer .footer_contant .feane .top h1 a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Dancing Script", cursive;
}
#footer .footer_contant .feane .text p{
    font-size: 17px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
#footer .footer_contant .feane .socil_link{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
#footer .footer_contant .feane .socil_link .icon{
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer .footer_contant .feane .socil_link .icon a{
    text-decoration: none;
    font-size: 18px;
}
#footer .footer_contant .feane .socil_link .icon a:hover{
    color: #bdac0c;
}
#footer .footer_contant .opening{
    width: 30%;
    text-align: center;
}
#footer .footer_contant .opening .top h1{
    color: #ffffff;
    font-family: "Dancing Script", cursive;
    margin-bottom: 28px;
}
#footer .footer_contant .opening .text p{
    color: #ffffff;
    padding-bottom: 15px;
    font-family: "Open Sans", sans-serif;
}
#footer .bottom{
    text-align: center;
}
#footer .bottom .text{
    padding-top: 20px;
}
#footer .bottom .text p{
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 20px;

}

 /*--================>>>>>>>>>>>>>>>{Footer Part end}>>>>>>>>>>>>>==================--*/